.cardBody {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 20rem 30rem;
    border: 2px solid greenyellow;
    background-color: grey;
    box-shadow: 10px 15px 5px black;

}

.title, .description {
    border: 1px solid black;
    margin: 1px;
    padding: auto;
}

.image {
    border: 1px solid black;
    width: 120px;
    height: 20vh;
    margin-right: 1px;
}
